<!DOCTYPE html>
<html lang="en">
  <head>
    <title>My Online Presence</title>
    <meta charset="utf-8"/>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <link href="http://netdna.bootstrapcdn.com/bootswatch/3.1.0/flatly/bootstrap.min.css" rel="stylesheet">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>
            {{ d["github"]["name"] }}
            <span class="small">'s online presence</span>
        </h1>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-github"></i> GitHub
            </div>
            <table class="table table-striped">
              <tr>
                <td>Username</td>
                <td>{{ d["github"]["login"] }}</td>
              </tr>
              <tr>
                <td>Followers</td>
                <td>
                  {% for follower in d["github"]["followers_json"][:10] %}
                  <a href="{{ follower["html_url"] }}">{{ follower["login"] }}</a>
                    {{ "" if loop.last else "," }}
                  {% endfor %}
                  {% set follower_count = d["github"]["followers"] %}
                  {{ " and %s more." % (follower_count-10) if follower_count > 10 }}
                </td>
              </tr>
              <tr>
                <td>Repositories</td>
                <td>
                  {% for repo in d["github"]["repos_json"] %}
                    <a href="{{ repo['html_url'] }}">{{ repo["name"] }}</a>
                    ({{ repo["language"] }})
                    {{ "" if loop.last else "," }}
                  {% endfor %}
              </tr>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-facebook"></i> Facebook
            </div>
            <a href="{{ d['facebook']['link'] }}">
                <img src="{{ d['facebook']['big_picture'] }}" class="img-responsive"></img>
            </a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="panel panel-default">
            <div class="panel-heading">
              <i class="fa fa-stack-overflow"></i> Stack Overflow
            </div>
            <table class="table table-striped">
              <tr>
                <td>Reputation</td>
                <td>{{ humanize.intcomma(d["stackoverflow"]["reputation"]) }}</td>
              </tr>
              {% for i in ["gold", "silver", "bronze"] %}
                <tr>
                  <td>{{ "Badges" if loop.first }}</td>
                  <td>
                      {{ d["stackoverflow"]["badge_counts"][i] }} 
                      {{ i.capitalize() }}
                  </td>
                </tr>
              {% endfor %}
            </table>
          </div> 
        </div>
      </div>
    </div>
  </body>
</html>

